<table class="deal">
<tr class="north">
<td valign="bottom" colspan="3"></td>
<td valign="bottom" colspan="4" class="north"><table class="hand">
<tr>
<td align="center"><span class="blacksuit">♠</span></td>

<td><span class="holding"><%= d.ns.split("").join(" ") %></span></td>
</tr>
<tr>
<td align="center"><span class="redsuit">♥</span></td>
<td><span class="holding"><%= d.nh.split("").join(" ") %></span></td>
</tr>
<tr>
<td align="center"><span class="redsuit">♦</span></td>
<td><span class="holding"><%= d.nd.split("").join(" ") %></span></td>
</tr>
<tr>
<td align="center"><span class="blacksuit">♣</span></td>

<td><span class="holding"><%= d.nc.split("").join(" ") %></span></td>
</tr>
</table></td>
<td colspan="3"></td>
</tr>
<tr class="eastwest">
<td align="left" colspan="4" class="west"><table class="hand">
<tr>
<td align="center"><span class="blacksuit">♠</span></td>
<td><span class="holding"><%= d.ws.split("").join(" ") %></span></td>
</tr>
<tr>
<td align="center"><span class="redsuit">♥</span></td>

<td><span class="holding"><%= d.wh.split("").join(" ") %></span></td>
</tr>
<tr>
<td align="center"><span class="redsuit">♦</span></td>
<td><span class="holding"><%= d.wd.split("").join(" ") %></span></td>
</tr>
<tr>
<td align="center"><span class="blacksuit">♣</span></td>
<td><span class="holding"><%= d.wc.split("").join(" ") %></span></td>
</tr>
</table></td>
<td colspan="2"> </td>

<td align="left" colspan="4" class="east"><table class="hand">
<tr>
<td align="center"><span class="blacksuit">♠</span></td>
<td><span class="holding"><%= d.es.split("").join(" ") %></span></td>
</tr>
<tr>
<td align="center"><span class="redsuit">♥</span></td>
<td><span class="holding"><%= d.eh.split("").join(" ") %></span></td>
</tr>
<tr>
<td align="center"><span class="redsuit">♦</span></td>
<td><span class="holding"><%= d.ed.split("").join(" ") %></span></td>
</tr>
<tr>
<td align="center"><span class="blacksuit">♣</span></td>
<td><span class="holding"><%= d.ec.split("").join(" ") %></span></td>
</tr>
</table></td>
</tr>
<tr class="south">
<td valign="bottom" colspan="3"></td>
<td valign="top" colspan="4" class="south"><table class="hand">
<tr>
<td align="center"><span class="blacksuit">♠</span></td>
<td><span class="holding"><%= d.ss.split("").join(" ") %></span></td>
</tr>
<tr>
<td align="center"><span class="redsuit">♥</span></td>
<td><span class="holding"><%= d.sh.split("").join(" ") %></span></td>
</tr>
<tr>
<td align="center"><span class="redsuit">♦</span></td>
<td><span class="holding"><%= d.sd.split("").join(" ") %></span></td>
</tr>
<tr>
<td align="center"><span class="blacksuit">♣</span></td>
<td><span class="holding"><%= d.sc.split("").join(" ") %></span></td>
</tr>
</table></td>
<td colspan="3"></td>
</tr>
</table>
