<% card = [d.n, d.w, d.e, d.s] -%>
<% color = ["", "red", "red", ""] -%>
<% seat = ["north", "west", "east", "south"] -%>
<% sym = ["♠", "♥", "♦", "♣"] -%>
<div class="diagram">
<div class="header">
<div><%= d.dealer %> Dealer</div>
<div><%= d.vul %> Vulnerable</div>
</div>
<% t = d.krp.split -%>
<% seat.each_index do |i| -%>
<div class="hand <%= seat[i] %>">
  <div class="seatname">KRP: <%= t[i] %></div>
  <% card[i].split.each_index do |j| -%>
  <div class="holding">
    <span class="suitsymbol <%= color[j] %>"><%= sym[j] %></span>
    <%= card[i].split[j].split('').join(' ') %>
  </div>
  <% end -%>
</div>
<% end -%>
</div>

