<div id="group1" style="float: left; width: 60%">
<p><label for="deal_title">Title</label><br />
<%= f.text_field :title, :size => 20, :class => "title" %></p>
<p><label for="deal_tag">Tag (seperate with comma)</label><br />
<%= text_field_tag :tag, nil, :size => 21, :class => "text" %></p>
</div><div id="group2" style="float: left; width: 40%;">
<p><label for="deal_dealer">Dealer</label><br />
<%= f.select :dealer, ['N', 'E', 'S', 'W'] %></p>
<p><label for="deal_vul">Vulnerable</label><br />
<%= f.select :vul, ['None', 'NS', 'EW', 'Both'] %></p>
</div>
<div id="group3" style="clear: both;">
<p><label for="deal_n" class="card">North</label>
<%= f.text_field :n, :size => 16, :class => "text" %><span id="n"></span></p>
<p><label for="deal_e" class="card">East</label>
<%= f.text_field :e, :size => 16, :class => "text" %><span id="e"></span></p>
<p><label for="deal_s" class="card">South</label>
<%= f.text_field :s, :size => 16, :class => "text" %><span id="s"></span></p>
<p><label for="deal_w" class="card">West</label>
<%= f.text_field :w, :size => 16, :class => "text" %><span id="w"></span></p>
</div>

