<p>Title: <%= f.text_field :title, :size => 20 %></p>
<p>Tag: <%= text_field_tag :tag, nil, :size => 21 %></p>
<p>Dealer: <%= f.select :dealer, ['N', 'E', 'S', 'W'] %></p>
<p>Vulnerable: <%= f.select :vul, ['None', 'NS', 'EW', 'Both'] %></p>
<p>North: <span id="n"></span><br /> S: <%= f.text_field :ns, :size => 13 %><span id="ns"></span>
<br /> H: <%= f.text_field :nh, :size => 13 %><span id="nh"></span>
<br /> D: <%= f.text_field :nd, :size => 13 %><span id="nd"></span>
<br /> C: <%= f.text_field :nc, :size => 13 %><span id="nc"></span></p>
<p>East: <span id="e"></span><br /> S: <%= f.text_field :es, :size => 13 %><span id="es"></span>
<br /> H: <%= f.text_field :eh, :size => 13 %><span id="eh"></span>
<br /> D: <%= f.text_field :ed, :size => 13 %><span id="ed"></span>
<br /> C: <%= f.text_field :ec, :size => 13 %><span id="ec"></span></p>
<p>South: <span id="s"></span><br /> S: <%= f.text_field :ss, :size => 13 %><span id="ss"></span>
<br /> H: <%= f.text_field :sh, :size => 13 %><span id="sh"></span>
<br /> D: <%= f.text_field :sd, :size => 13 %><span id="sd"></span>
<br /> C: <%= f.text_field :sc, :size => 13 %><span id="sc"></span></p>
<p>West: <span id="w"></span><br /> S: <%= f.text_field :ws, :size => 13 %><span id="ws"></span>
<br /> H: <%= f.text_field :wh, :size => 13 %><span id="wh"></span>
<br /> D: <%= f.text_field :wd, :size => 13 %><span id="wd"></span>
<br /> C: <%= f.text_field :wc, :size => 13 %><span id="wc"></span></p>
