<p>Title: <%= f.text_field :title, :size => 20 %></p>
<p>Tag: <%= text_field_tag :tag, nil, :size => 21 %></p>
<p>Dealer: <%= f.select :dealer, ['N', 'E', 'S', 'W'] %></p>
<p>Vulnerable: <%= f.select :vul, ['None', 'NS', 'EW', 'Both'] %></p>
<p>North: <span id="n"></span><br /><%= f.text_field :n, :size => 16 %></p>
<p>East: <span id="e"></span><br /><%= f.text_field :e, :size => 16 %></p>
<p>South: <span id="s"></span><br /><%= f.text_field :s, :size => 16 %></p>
<p>West: <span id="w"></span><br /><%= f.text_field :w, :size => 16 %></p>
