<% content_for :header do -%>
<%= javascript_include_tag "jquery" %>
<%= javascript_include_tag "deal/checkhand" %>
<% end -%>
<h1>Create a New Deal</h1>
<%= error_messages_for :deal, :class => "error" %>
<% form_for :deal, :url => {:action => 'create'} do |f| -%>
<%= render :partial => "form", :locals => {:f => f, :t => ""} %>
<p><%= submit_tag %></p>
<% end -%>

