<% content_for :header do -%>
<%= stylesheet_link_tag 'deal' %>
<% end -%>
<p><span id="key">Title:</span> <%= @deal.title %><br />
<span id="key">User:</span> <%= link_to @deal.user.login, :action => 'user', :id => @deal.user.login %><br />
<span id="key">Tag:</span> <% for t in @deal.tags -%>
<%= link_to t.name, :action => "tag", :id => t.name %>
<% end -%><br /></p>
<p style="text-align: right;">
<% if current_user == @deal.user -%>
&nbsp;&nbsp;&nbsp;<%= link_to "Edit", :action => "edit", :id => @deal.id %>&nbsp;&nbsp;&nbsp;
<%= link_to "Delete", :action => "delete", :id => @deal.id %>
<% end -%></p>
<%= render :partial => "carding", :locals => {:d => @deal} %>
<% if @deal.dda.n -%>
<%= render :partial => "dda", :locals => {:d => @deal} %>
<% end -%>
<% if @deal.bids.count > 0 -%>
<p><span id="key">Bidding Sequence</span><p style="text-align: right;">
<%= link_to "Create", :action => 'bid', :id => params[:id] %></p>
<%= render :partial => 'bid', :collection => @deal.bids %>
<% end -%>
<blockquote>
<% if @deal.comments.count > 0 -%>
<p id="notice"><%= @deal.comments.count %> comment(s)</p>
<%= render :partial => "comment", :collection => @deal.comments %>
<% else -%>
<p id="notice">No comments yet.</p>
<% end -%>
<% if logged_in? -%>
<p id="notice">You can leave a message. User: <%= current_user.login %></p>
<%= error_messages_for :comment %>
<% form_for :comment, :url => {:action => 'show', :id => params[:id]} do |f| -%>
<%= f.text_area :body, :rows => "5" %>
<%= submit_tag %>
<% end -%>
<% else -%>
<p id="notice">Please <%= link_to "log in", :controller => "account", :action => "login" %> to comment on this deal.</p>
<% end -%></blockquote>

